<div class="card">
    <label for="password" class="col-form-label">كلمة المرور </label>
    <p-password [(ngModel)]="value1" [feedback]="false"></p-password>

    <label for="password" class="col-form-label">تأكيد كلمة المرور</label>
    <p-password [(ngModel)]="value2"></p-password>

    <label for="showPassword" class="col-form-label">إظهار كلمة المرور</label>
    <p-password [(ngModel)]="value3" [toggleMask]="true"></p-password>

    <label for="templates">تعليمات</label>
    <p-password [(ngModel)]="value4">
        <ng-template pTemplate="header">
            <h6>اختر كلمة مرور تتكون من:</h6>
        </ng-template>
        <ng-template pTemplate="footer">
            <!-- <p class="p-mt-2">مقترحات</p> -->
            <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                <li>حرف صغير واحد على الأقل</li>
                <li>حرف كبير واحد على الأقل</li>
                <li>رقم واحد على الأقل</li>
                <li>8 أحرف على الأقل</li>
            </ul>
        </ng-template>
    </p-password>
</div>